 body{
    background-image:url("../Images/5153829.jpg");
    background-size:cover;
    background-attachment:fixed;
 }

 div#login-form{
    width:400px;
    border:none;
    margin:200px auto;
    padding:30px;
    background-color:rgba(100, 213, 246,0.5);
    box-sizing:border-box;
    border-radius:15px;

 }
 div#register-form{
    width:400px;
    border:none;
    margin:80px auto;
    padding:30px;
    background-color:rgba(100, 213, 246,0.5);
    box-sizing:border-box;
    border-radius:15px;

 }

 label{
    color:#0f4c75;
    font-size:20px;
}

label.title{
    display:block;
     text-align:center;
     color:rgb(15,19,221);
     font-size:35px;
}

.text{

    width:100%;
    height:30px;
    margin:10px 0px;
    padding:3px;
    font-size:15px;
    border-radius:5px;
    border-color:rgba(100, 213, 246,0.5);
}

button{
    width:120px;
    margin:20px 32%;
    border:1px solid #0f13dd;
    text-align:center;
    padding:7px 10px;
    border:none;
    font-size:25px;
    background-color:rgb(15, 19, 221);
    color:white;
    border-radius:5px;
    box-shadow:0px 0px 20px 1px blue;
}

button:hover{
    background-color:white;
    color:#0f13dd;
    box-shadow:0px 0px 15px 1px #808080;
}
a{
    color:#0f13dd;
}
a:hover{
    color:#ffffff;
    background-color:rgb(255, 255, 255);
    background:transparent;
}

#register-form{
    display:none;
}


.radio{

    font-size:25px;
    padding-left:5px;
}
input[type="radio"]{

    transform:scale(1.5);
}
